!!! 5
head
  base(href='/phandom/')
  //
     Web Fonts: Prevent FOUT
  script(type='text/javascript').
    WebFontConfig = {
    google: { families: [ 'Lobster::latin', 'Oswald:400,700,300:latin' ] }
    };
    (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
    })();
  title Phandom
  link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
  link(rel='icon', href='favicon.ico', type='image/x-icon')
  //
     JS: Google, jQuery, Phandom 
  script(src='js/jsapi.js')
  script(src='js/jquery.min.js')
  script(src='js/phandom-urlfix.js')
  //
     CSS & JS: FB Friend Selector
  link(type='text/css', href='friend-selector/jquery.friend.selector.css', rel='stylesheet')
  script(type='text/javascript', src='friend-selector/jquery.friend.selector-1.2.js')
  //
     Canonical 
  link(rel='canonical', href='http://adamwinn.co#{params}')
  //
     CSS: FB Button & Custom Bootstap
  link(type='text/css', href='css/fb-buttons.css', rel='stylesheet')
  link(href='css/bootstrap.css', rel='stylesheet', media='screen')
  script(type='text/javascript', src='js/bootstrap.min.js')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(property='fb:app_id', content='108428925994348')
  meta(property='og:title', content='Phandom')
  meta(property='og:type', content='website')
  meta(property='og:url', content='content', href='http://adamwinn.co#{params}')
  meta(property='og:image', content='https://twimg0-a.akamaihd.net/profile_images/3371376883/4bf54ef19f02f6366b45bb454d0806de_bigger.png')
  meta(property='og:site_name', content='Phandom')
  meta(property='fb:admins', content='20706217')
  meta(property='og:description', content='Phandom lets you make fake headlines about your favorite celebrities, friends, politicians and more!')
body
  //
     Load Facebook App
  #fb-root
  script(type='text/javascript').
    var fb_token;
    function showLoggedInButtons(){
    console.log('in');
    $('.fb-choose').show();
    $('.fb-login-group').hide();
    $('.fb-logout-group').show();
    }
    function showLoggedOutButtons(){
    console.log('out');
    $('.fb-choose').hide();
    $('.fb-login-group').show();
    $('.fb-logout-group').hide();
    }
    function fbLogin() {
    FB.login(function(response) {
    if (response.authResponse) {
    // connected
    showLoggedInButtons();
    fb_token = FB.getAuthResponse()['accessToken'];
    } else {
    // cancelled
    }
    });
    }
    function fbLogout(){
    FB.logout(function(response) {
    // user is now logged out
    showLoggedOutButtons();
    });
    }
    function fbAddPerson($checked){
    var selected = $fb_tab + '_selected';
    $(selected).children().remove();
    $checked.children('.fs-friends, .fs_fullname').remove();
    $checked.children('.fs-name').css('display','inline');
    var $remove = $('<a>Remove</a>').css({'float':'right','cursor':'pointer'});
    $remove.click(function(){
    $(this).closest('.active').find('.custom-image').val('');
    $(this).closest('.fs-anchor').remove();
    });
    $checked.children('.fs-name').append($remove)
    $checked.css('cursor','default');
    $checked.appendTo(selected);
    }
    var $fb_tab;
    //    function twitterPrepend(id){
    //        var handle = '@'+$(id).find('.custom-image-source').val();
    //        $(id).find('.custom-image').val(handle)
    //
    //    }
    window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
    appId      : '108428925994348', // App ID from the App Dashboard
    channelUrl : '//adamwinn.co/channel.html', // Channel File for x-domain communication
    status     : true, // check the login status upon init?
    cookie     : true, // set sessions cookies to allow your server to access the session?
    xfbml      : true  // parse XFBML tags on this page?
    });
    // Additional initialization code such as adding Event Listeners goes here
    FB.getLoginStatus(function(response) {
    if (response.status === 'connected') {
    // connected
    showLoggedInButtons();
    fb_token =   FB.getAuthResponse()['accessToken'];
    } else if (response.status === 'not_authorized') {
    // not_authorized
    showLoggedOutButtons();
    } else {
    // not_logged_in
    showLoggedOutButtons();
    }
    });
    $('.fb-logout').click(function(){
    fbLogout();
    });
    $('.fb-login').click(function(){
    fbLogin();
    });
    $(".fb-choose").click(function(){
    $fb_tab = '#' + $(this).closest('.active').attr('id');
    console.log($fb_tab);
    })
    .fSelector({
    max:1,
    closeOnSubmit:true,
    showSelectedCount:true,
    showButtonSelectAll:false,
    lang:{title:'Choose One Friend',
    buttonSubmit:'Add',
    summaryBoxResult:'{1} result(s) for {0}',
    fbConnectError:'Please click the Facebook "Login" button to connect to Phandom.',
    selectedCountResult:'Selection complete. Now click "Add" below.',
    selectedLimitResult:'Only select 1 person. Click "Add" to continue.'},
    onSubmit: function(response){
    console.log($fb_tab);
    var $checked = $('.checked a');
    fbAddPerson($checked);
    // example response usage
    var selected_friends = [];
    $.each(response, function(k, v){
    selected_friends[k] = v;
    });
    $($fb_tab).find('.custom-image').val(selected_friends[0]);
    }
    });
    };
    (function(d, debug){
    var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "http://connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
    ref.parentNode.insertBefore(js, ref);
    }(document, /*debug*/ false)
    );
  .container
    .row.bordered
      .span12
        .row(style='margin-top: 10px;')
          .span8(style='min-width: 770px;')
            .row
              .span4
                a(href='/')
                  img(src='img/logo.png')
                                                  
                .oswald.fontlight(style='color: #595959; margin-left: 7px;') NEWS YOU CANT TRUST 
                div(style='margin-left: 7px; margin-bottom: 20px;')
                  .pink.lobster(style='display: inline-block;') Click Like!
                  .fb-like(data-href='http://www.adamwinn.co', data-send='false', data-layout='button_count', data-width='300', data-show-faces='false', style='display: inline-block;')
              .span4
            .row
              .span8
                span(style='position: relative;')
                  .share
                    .rectangle
                      img.tshare(src='img/tshare.png')

                      .fb-share-box
                        .fb-share-icon
                        .fb-share-text Share
                    .triangle-l
                  .contentContainer
                    div(style='position: absolute; left: 333px;')
                      .spinner
                    .imgContainer
                    .headline.next
                .fb-comments(href='href', href='http://adamwinn.co#{params}',data-width="770", data-num-posts="10")
                .well.customHeadlineForm(style='min-width: 730px;')
                  form
                    fieldset
                      legend.oswald.blue(style='font-size: 40px; line-height: 60px;')
                        | Make Your Own Headline
                        img(src='img/google_search_box.gif', style='float: right;')
                      #generatorContainer
                        .top
                          .topL
                            .topLContainer
                              p
                                span(style='font-size: 28px;')
                                  span.lobster.pink Step 1
                                                      
                                .oswald.fontlight   CHOOSE FIRST PICTURE
                              ul.nav.nav-tabs
                                li.active
                                  a(href='#google1', data-toggle='tab') Google Search
                                li
                                  a(href='#facebook1', data-toggle='tab') Facebook
                                li
                                  a(href='#twitter1', data-toggle='tab') Twitter
                              .tab-content
                                #google1.tab-pane.fade.active.in
                                  .input-append
                                    input#google-search-1-input.span2(type='text', placeholder='e.g. Beyonce', data-provide='typeahead')
                                    button#google-search-1.btn(type='button') Search
                                  #google-search-1-results
                                  input.custom-image
                                #facebook1.tab-pane.fade
                                  p
                                    .fb-login-group
                                      p
                                        a.fb-login.uibutton.confirm(style='text-decoration: none;') Login
                                      p Log in to Facebook to use a picture of a friend.
                                    p
                                      span.fb-logout-group
                                        a.fb-choose.uibutton.icon.add(style='text-decoration: none; color: black;') Choose One Friend
                                        p Pick a friend's profile image to use.
                                    #facebook1_selected
                                    input.custom-image
                                #twitter1.tab-pane.fade
                                  p
                                    .input-prepend
                                      span.add-on @
                                      input.span2.custom-image-source(type='text', placeholder='Username', onkeyup='twitterPrepend(\'#twitter1\')')
                                    p
                                      | Can't remember a username? Look at your
                                      a(href='https://twitter.com/following', target='_blank') following list.
                                    input.custom-image
                          .topR
                            .topRContainer
                              p
                                span(style='font-size: 28px;')
                                  span.lobster.pink Step 2 
                                .oswald.fontlight   CHOOSE SECOND PICTURE
                              ul.nav.nav-tabs
                                li.active
                                  a(href='#google2', data-toggle='tab') Google Search
                                li
                                  a(href='#facebook2', data-toggle='tab') Facebook
                                li
                                  a(href='#twitter2', data-toggle='tab') Twitter
                              .tab-content
                                #google2.tab-pane.fade.active.in
                                  .input-append
                                    input#google-search-2-input.span2(type='text', placeholder='e.g. Beyonce', data-provide='typeahead')
                                    button#google-search-2.btn(type='button') Search
                                  #google-search-2-results
                                  input.custom-image
                                #facebook2.tab-pane.fade
                                  p
                                    .fb-login-group
                                      p
                                        a.fb-login.uibutton.confirm(style='text-decoration: none;') Login
                                      p Log in to Facebook to use a picture of a friend.
                                    p
                                      span.fb-logout-group
                                        a.fb-choose.uibutton.icon.add(style='text-decoration: none; color: black;') Choose One Friend
                                        p Pick a friend's profile image to use.
                                    #facebook2_selected
                                    input.custom-image
                                #twitter2.tab-pane.fade
                                  p
                                    .input-prepend
                                      span.add-on @
                                      input.span2.custom-image-source(type='text', placeholder='Username', onkeyup='twitterPrepend(\'#twitter2\')')
                                    p
                                      | Can't remember a username? Look at your
                                      a(href='https://twitter.com/following', target='_blank') following list.
                                    input.custom-image
                        .bottom
                          .bottomContainer
                            p.lobster.pink(style='font-size: 28px;') Step 3
                            p.oswald.fontlight   WRITE HEADLINE TEXT
                            p
                              input.custom-headline.span6(type='text')
                      p(style='text-align: center; margin-top: 20px;') Click to see a preview of your headline.
                      p
                        .generator.custom-link.lobster
                          span Preview

                            
          .span4
            div(style='margin-top: 4px;')
              #today.oswald.fontlight(style='display: inline-block; color: rgb(131, 131, 131); font-size: 18px; float: right;') blah
              script(type='text/javascript').
                var mydate=new Date();
                var year=mydate.getYear();
                if (year < 1000);
                year+=1900;
                var day=mydate.getDay();
                var month=mydate.getMonth();
                var daym=mydate.getDate();
                if (daym<10){daym="0"+daym}
                var dayarray=new Array("SUNDAY","MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY");
                var montharray=new Array("JANUARY","FEBRUARY","MARCH","APRIL","MAY","JUNE","JULY","AUGUST","SEPTEMBER","OCTOBER","NOVEMBER","DECEMBER");
                var full = dayarray[day]+" "+montharray[month]+" "+daym+", "+year;
                document.getElementById('today').innerHTML=full;
            .next-headlines(style='margin-top: 30px;')
            .well(style='padding-left: 36px; padding-bottom: 5px; min-width: 299px;')
              script(type='text/javascript')
              script(type='text/javascript', src='http://pagead2.googlesyndication.com/pagead/show_ads.js')
                                            
            a.twitter-timeline(href='https://twitter.com/search?q=%23phndm', height='658', data-widget-id='306606679800291329', data-related='phndm') Phandom Tweets "#phndm"
    .row
      .span12
        #footer(style='text-align: center;')
          .container(style='padding-top: 60px;')
            p.muted.credit
              | A parody by the
              span.lobster(style='color: #F1238D;') Brothers Winn
              | . 'spect.
            p.muted.credit
              a(href='/about.html') Terms & Privacy
            p.fb-logout-group
              img(src='img/fb.png')
              span  Logged in | 
              a.fb-logout Log Out
  script(type='text/javascript').
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  script(type='text/javascript').
    var _gaq = _gaq || [];
    var pluginUrl =
    '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_setAccount', 'UA-39152713-1']);
    _gaq.push(['_setDomainName', 'adamwinn.co']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https:' == document.location.protocol ? 'https://' : 'http://' + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();